extends layout

mixin BannerIMG(href)
  li
    img(src=href, height='130px')

block content
  main#game-page
    #banner
      ul(style='width:928px;')
        +BannerIMG(data.banner.href)
        each value, key in data.media
          +BannerIMG(value.thumbnail.href)
    #details
      h1.title= data.title
      p.publisher= data.publisher + ' ›'
      p.genres= data.genres[0]
      - var scoring = data.score > 75 ? 'green' : (data.score >= 55 ? 'yellow' : 'ok' );
      div(class='score ' + scoring)
        span Score 
        span.points= data.score
    #charts
      div.pegi= data.contentRating
      each value, key in data.ranking
        div.ranking
          span.rank= '#' + value.rank
          span= value.name
    #buying
      each value, key in data.storeProducts
        a#buy(href=value.href)= 'Buy | ' + value.price.currency + value.price.value
      a.linktoreviews(href='#reviews')= 'Reviews ('+data.reviews.length+')'
    #description!= data.summary
    #reviews
      p.subtitle Reviews
      each value, key in data.reviews
        - var scoring = value.score > 75 ? 'green' : (value.score >= 55 ? 'yellow' : 'ok' );
        div(class='review '+scoring)
          div.source
            a(href=value.href)= value.source
          div.summary
            a(href=value.href)= value.summary
          div.score= value.score
