extends layout

mixin BannerIMG(href, index)
  li(id='bnr_' + index)
    img(src=href, height=img_h+'px')

block content
  main#game-page
    - var img_h = 130;
    - var img_w = 232;
    - var scoring = data.score > 75 ? 'green' : (data.score >= 55 ? 'yellow' : 'ok' );
    #banner.clearfix
      ul
        if data.banner.href
          +BannerIMG(data.banner.href, 0)
        each value, key in data.media
          if value.thumbnail
            +BannerIMG(value.thumbnail.href, key)
      .more_img(onclick='scrollImg()') ›
    #details
      h1.title= data.title
      p.publisher= data.publisher + ' ›'
      p.genres= data.genres[0]
      div(class='score ' + scoring)
        span Score
        span.points= data.score || '--'
    #charts
      if data.contentRating != 'notAvailable'
        div(class='pegi ' + data.contentRating)= data.contentRating.replace('pegi', '')
      else
        div(class='pegi pending')
          span RP
      each value, key in data.ranking
        div.ranking
          span.rank= '#' + value.rank
          span= value.name
    #buying.clearfix
      each value, key in data.storeProducts
        a#buy(href=value.href, target='_blank')= 'Buy | ' + value.price.currency + value.price.value
      if !data.storeProducts[0]
        - var stores = { 'US': '.com', 'GB': '.co.uk' }
        - var store = stores[country]
        a#buy(href='https://www.amazon' + store + '/s/field-keywords=' + encodeURI(data.title) , target='_blank') Buy
      a.linktoreviews(href='#reviews')= 'Reviews ('+data.reviews.length+')'
    #description= data.description
    #reviews
      p.subtitle Reviews
      if !data.reviews.length
        div.review.empty
          div.summary= 'no reviews for this game yet, sorry :('
      each value, key in data.reviews
        div(class='review '+scoring)
          div.source
            a(href=value.href)= value.source
          div.summary
            a(href=value.href)= value.summary
          div.score= value.score
  script(src='/scripts/libs/smoothscroll.js')
  script(src='/scripts/game.js')
